<% post.post_comments.each do |post_comment| %>
  <div class="comment-box">
    <%= attachment_image_tag post_comment.member, :profile_image, format: "jpeg", size: "40x40", fallback: "no_image.jpg", class: "img-circle  member_img" %>
    <%= post_comment.member.first_name +  post_comment.member.last_name %>
    <p class="comment-text">
      <%=safe_join(post_comment.comment.split("\n"),tag(:br))%>
    </p>
    <div class="content-top_right">
      <%= post_comment.created_at.strftime('%F %T') %>
      <% if post_comment.member_id == current_member.id %>
        <%= link_to "", post_post_comment_path(post_comment.post, post_comment), class: "fas fa-trash-alt icon-trash" ,method: :delete, remote: true,"data-confirm" => "本当に消しますか？" %>
      <% end %>
    </div>
  </div>
<% end %>