<div class = "content-box">
  <div class= "content-member_name">
    <%= attachment_image_tag thank.to, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no_image.jpg", class: "img-circle" %>
    <%= thank.to.first_name + " " + thank.to.last_name %>
  </div>
  <p class= "content-body">
    <%= thank.body %>
  </p>
  <div class="content-icon">
    <% if thank.from_id == current_member.id %>
      <%= link_to "編集", edit_thank_path(thank.id), class: "btn btn-info btn-xs " %>
      ,
      <%= link_to "削除", thank_path(thank.id), method: :delete, class: "btn btn-danger btn-xs" %>
    <% else %>
      <%= attachment_image_tag thank.from, :profile_image, :fill, 30, 30, format: "jpeg", fallback: "no_image.jpg", class: "img-circle" %>
      <%= thank.from.first_name + " " + thank.from.last_name %>
    <% end %>
  </div>
  <div class="content-date">
    <%= thank.created_at.strftime('%F %T') %>
  </div>
</div>