<table class="table table-hover">
      <thead>
        <tr>
          <th>to</th>
          <th>内容</th>
          <th>from</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @thanks.each do |thank| %>
          <% if thank.from_id == current_member.id %><!--自分に関係ないものは非表示-->
            <tr>
              <th>
                <%= attachment_image_tag thank.to, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no_image.jpg", class: "img-circle" %>
                <%= thank.to.first_name + " " + thank.to.last_name %>
              </th>
              <th><%= thank.body %></th>
              <th>
                <%= link_to "編集", edit_thank_path(thank.id), class: "btn btn-warning btn-sm " %>
                ,
                <%= link_to "削除", thank_path(thank.id), method: :delete, class: "btn btn-danger btn-sm" %>
              </th>
              <th><%= thank.created_at.strftime('%F %T') %></th>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @thanks %>