<div class="row">
  <div class="col-xs-7">
    <div>今日のありがとう<%= @today_thanks.count %>件</div>
    <div>今月のありがとう<%= @this_month_thanks.count %>件（前月比 : <%= @month_to_month_thanks %>）</div>
    <%= render "layouts/thank_index", thanks: @thanks %>
    <%= paginate @thanks %>
  </div>

  <div class="col-xs-5">
    <h3 class="col-xs-offset-2">ありがとうを贈る</h3>
    <%= render "layouts/thank_form" %>
  </div>
</div>