<div class="row">
  <div class="col-xs-8">
    <% @thanks.each do |thank| %>
      <%= thank.body %>
      <% if thank.to_id == current_member %>
        <%= link_to "編集", edit_thank_path(thank.id) %>
        <%= link_to "削除", thank_path(thank.id), method: :delete %>
      <% end %>
    <% end %>
    ありがとう数<%= current_member.tos.count %>
    ありがとうした数<%= current_member.from_thanks.count %>
  </div>

  <div class="col-xs-4">
    <%= form_with model: @thank, local: true do |f| %>
      <%= f.select(:member_id, @member_name_list, {include_blank: "誰に？"}) %>
      <%= f.text_area :body, autofocus: true, placeholder: "どんな感謝を送りますか？", rows: "3" %>
      <%= f.submit "ありがとう" %>
    <% end %>
  </div>
</div>