<div class="row">
  <div class="col-xs-8">
    <% @thanks.each do |thank| %>
      <%= thank.body %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <%= form_with model: @thank, local: true do |f| %>
      <%= f.select(:member_id, @member_name_list, {include_blank: "誰に？"}) %>
      <%= f.text_area :body, autofocus: true, placeholder: "どんな感謝を送りますか？", rows: "3" %>
      <%= f.submit "ありがとう" %>
    <% end %>
  </div>
</div>