
<div class= "row">
  <!--新着投稿-->
  <div class="col-xs-4">
    <h3>投稿（直近5件）</h3>
    <%= render "layouts/post-index", posts: @posts %>
    <%= link_to "他の投稿も見る", posts_path %>
  </div>
  <div class="col-xs-5">
    <table class="table table-striped">
        <tr><th>贈ったありがとう順位</th><th></th><th></th></tr>
        <% @from_thank_ranks.each.with_index(1) do |from, i| %>
        <tr>
          <th></th>
          <th><%= from.first_name %></th>
          <td><%= from.froms.count %></td>
        </tr>
        <% end %>
        <tr><th>貰ったありがとう順位</th><th></th><th></th></tr>
        <% @to_thank_ranks.each.with_index(1) do |to, i| %>
        <tr>
          <th></th>
          <th><%= to.first_name %></th>
          <td><%= to.to_thanks.count %></td>
        </tr>
        <% end %>
      </table>


    <div>今日のありがとう<%= @today_thanks.count %>件</div>
    <div>今月のありがとう<%= @this_month_thanks.count %>件（前月比 : <%= @month_to_month_thanks %>）</div>
    <h3>ありがとう(直近5件)</h3>
    <%= render "layouts/thank_index", thanks: @thanks %>
  </div>
    <!--誕生日-->
  <div class="col-xs-3">
    <h3>誕生日</h3>
    <% if @birthday_members.any? %>
      <table class="table table-striped">
        <tbody>
          <% @birthday_members.each do |member| %>
          <tr>
            <td><%= member.first_name + " " + member.last_name %></td>
            <td><%= member.birthday.strftime("%m月%d日") %></td>
          </tr>
          <% end %>
          <% @next_birthday_members.each do |member| %>
          <tr>
            <td><%= member.first_name + " " + member.last_name %></td>
            <td><%= member.birthday.strftime("%m月%d日") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>

</div>