<div class="row">
  <div class="col-xs-3">
    <%= attachment_image_tag @member, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg", class: "img-circle" %>
    <table class="table table-striped">
      <tr>
        <th>名前</th>
        <th><%= @member.first_name + @member.last_name %></th>
      </tr>
      <tr>
        <th>誕生日</th>
        <th><%= @member.birthday.strftime("%F") %></th>
      </tr>
      <tr>
        <th>自己紹介</th>
        <th><%= @member.introduction %></th>
      </tr>
    </table>
    <%= link_to "編集", edit_member_path(current_member) %>
  </div>

  <div class="col-xs-9">
    <% @posts.each do |post| %>
      <div><%= link_to post.title, post_path(post.id) %></div>
      <div><%= post.body %></div>
      <%= post.created_at.strftime('%F %T') %>
      <%= post.post_comments.count %>

    <% end %>
  </div>
</div>
