<div class="row">
  <%= render "layouts/post-index" %>
  <div class="col-xs-8">
    <%= @post.title %>
    <%= @post.body %>
    <%= link_to "編集", edit_post_path %>
    <%= link_to "削除", post_path(@post), method: :delete,"data-confirm" => "本当に消しますか？" %>
  </div>
</div>