<header>
  <div class="header-area">
    <div class="header-inner">
      <% if member_signed_in? %>
        <div class="header-logo">
          <div class="header-log-link">
            <!--会社の要望に合わせてロゴやtitleを変更する-->
            <div class="header-logo-mark"></div>
            <div class="header-logo-text"><%= link_to "株式会社 gh", root_path %></div>
          </div>
        </div>
        <nav class="header-nav">
          <ul>
            <li class="header-item">
            	<%= link_to "投稿一覧", posts_path, class: "header-link" %>
            </li>
            <li class="header-item">
            	<%= link_to "MYページ", member_path(current_member), class: "header-link" %>
            </li>
            <li class="header-item">
            	<%= link_to "ありがとう一覧", thanks_path, class: "header-link" %>
            </li>
            <li class="header-item">
            	<%= link_to "新規投稿", new_post_path, class: "header-link" %>
            </li>
            <li class="header-item">
            	<%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "header-link" %>
            </li>
          </ul>
        </nav>
      <% elsif admin_signed_in? %>
        <div class="header-logo">
          <div class="header-log-link">
            <div class="header-logo-mark"></div>
            <div class="header-logo-text">株式会社 gh</div>
          </div>
        </div>
        <nav class="header-nav">
          <ul>
            <li class="header-item">
            	<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-link" %>
            </li>
          </ul>
        </nav>
      <% else %>
        <div class="header-logo">
          <div class="header-log-link">
            <div class="header-logo-mark"></div>
            <div class="header-logo-text">株式会社 gh</div>
          </div>
        </div>
        <nav class="header-nav">
          <ul>
            <li class="header-item">
            	<%= link_to "about", about_path, class: "header-link" %>
            </li>
            <li class="header-item">
              <!--memberのログイン画面では新規登録ボタン / 新規登録 & adminログイン画面ではmemberログインボタンを表示-->
              <% if current_page?(new_member_registration_path) %>
                <%= link_to "ログイン", new_member_session_path, class: "header-link" %>
              <% elsif current_page?(new_member_session_path) %>
                <%= link_to "新規登録", new_member_registration_path, class: "header-link" %>
              <% else %>
                <%= link_to "メンバーログイン", new_member_session_path, class: "header-link" %>
              <% end %>
            </li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</header>