  <% posts.each do |post| %>
    <div class="post_<%= post.id %>">
      <%= link_to post_path(post.id), class: "content-box btn btn-default" do %>
        <div class= "content-member_name">
          <%= attachment_image_tag post.member, :profile_image, format: "jpeg", size: "40x40", fallback: "no_image.jpg", class: "img-circle member_img" %>
          <%= post.member.first_name + " " + post.member.last_name  %>
        </div>
        <div class= "content-header">
          <h4>【<%= post.title.truncate(10, omission: "...") %>】</h4>
        </div>
        <div class= "content-body">
          <%= post.body.truncate(12, omission: "...") %>
        </div>
        <div class="content-top_right">
          <%= post.created_at.strftime('%F %T') %>
        </div>
        <div class="content-bottom_right">
          <div class="praise-count icon"><%= render "user/praises/praise-count", post: post %></div>
          <div class="cheering-count icon"><%= render "user/cheerings/cheering-count", post: post %></div>
          <div class="far fa-comment-dots icon"></div><%= post.post_comments.count %>
        </div>
      <% end %>
    </div>
  <% end %>
