<div class="col-xs-4">
    <% @posts.each do |post| %>
      <div><%= link_to post.title, post_path(post.id) %></div>
      <div><%= post.member.first_name + post.member.first_name  %></div>
      <div><%= post.created_at.strftime('%F %T') %></div>
      <%= attachment_image_tag post.member, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no_image.jpg", class: "img-circle" %>
      <div><%= post.post_comments.count %>件コメント</div>
    <% end %>
</div>