<!DOCTYPE html>
<html>
  <head>
    <title>Gh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %><!--'data-turbolinks-track': 'reload'があると動作しないことがあったので外しておく-->
    <meta name="viewport" content="width=device-width,initial-scale=1"><!--デバイスの幅、拡大縮小しない-->
  </head>

  <body>
    <div class="header-visual">
      <%= render "layouts/header" %>
    </div>
    <%= render "layouts/flash_message" %>
    <div class="container">
      <%= yield %>
    </div>
    <div>
      <%= render "layouts/footer" %>
    </div>
  </body>

</html>
